.container-fluid {
    background-color: violet;
}
.navbar a {
    float: left;
    color: violet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a {
    float: left;
    color: rgb(245, 158, 227);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: rgb(245, 158, 227);
    color: black;
}
.navbar a.active {
    background-color: violet;
    color: rgb(245, 158, 227)e;
}
h1{
    color: #f858f8;
    font-size: 84px;
}
h2{
    color:blueviolet ;
    
}
body{
    background-color: rgb(245, 158, 227);
}
a{color: violet; font-size: 1cm; text-decoration: none ;}
a.b{border: 5px solid rgb(241, 179, 241) ;}
a.a{border: 5px solid rgb(241, 179, 241) ;}
#link1{position: absolute;left: 26cm; top: 9cm; z-index: 20;}
#link2 {position: absolute; left: 23cm; top: 11cm; z-index: 2;}
#image{position: absolute;left: 0cm; top: 3cm; z-index: 11;}
#sep{position: absolute; top: 17cm;}
#titre2{position: absolute; top: 18cm; left: 5cm;}
#hor{position: absolute; align-content: center; top: 19cm; left: 5cm;}
#p1{position: absolute; top: 19cm; left: 14cm;}
#titre3{position: absolute; top: 18cm; left: 18cm;}
#titre4{position: absolute; top: 18cm; right: 5cm;}
#p3{position: absolute; top: 19cm; right: 5.70cm;}
#tit1{position:absolute; font-size:  40px; left: 2cm; top: 2cm;}
#tit2{color: violet; font-size: 30px; left: 3cm; top: 4cm;}
#tit3{color: violet; font-size: 30px; left: 3cm; top: 13cm;}
#table1{font-size: 20px; }
#table2{font-size: 20px; }
#table1 , #table2 { border: 5px solid violet; width: 20cm; }
#int1{position: absolute; color: violet; font-size: 20px; text-decoration: none ;right: 1cm; top: 1.2cm;}
#link4, #link3, #int2{position: absolute; color: violet; font-size: 19px; text-decoration: none ;}
#int2{ right: 0.5cm; top: 1.2cm;}
#link4{ left: 25.5cm; top: 1.2cm;}
#link3{ left: 24cm; top: 1.2cm;}
#link5, #int3, #link6{ position: absolute; color: violet; font-size: 20px; text-decoration: none ;}
#link6{ left: 25.3cm; top: 1.2cm;}
#link5{ left: 27.6cm; top: 1.2cm;}
#int3{ right: 1cm; top: 1.2cm;}
#legend{color: rgb(148, 53, 148); position: absolute; left: 3cm; top: 4.2cm; font-size: 25px;}
#ti1{color: rgb(148, 53, 148); position: relative; left:25cm ; top: 0cm; font-size: 30px;}
#form1{position: absolute; left: 15cm; top: 7cm; font-size: 20px;}
#form2{position: absolute; left: 15cm; top: 9cm; font-size: 20px;}
#form3{position: absolute; left: 15cm; top: 11cm; font-size: 20px;}
#form4{position: absolute; left: 15cm; top: 13cm; font-size: 20px;}
#lab1{position: absolute; left: 2cm; top: 7cm; font-size: 20px;}
#lab2{position: absolute; left: 2cm; top: 9cm; font-size: 20px;}
#lab3{position: absolute; left: 2cm; top: 11cm; font-size: 20px;}
#lab4{position: absolute; left: 2cm; top: 13cm; font-size: 20px;}
#lab5{position: absolute; left: 2cm; top: 15cm; font-size: 20px;}
#check1{position: absolute; left: 4cm; top: 16cm; font-size: 20px;}
#labe1{position: absolute; left: 5cm; top: 16cm; font-size: 20px;}
#check2{position: absolute; left: 4cm; top: 17cm; font-size: 20px;}
#labe2{position: absolute; left: 5cm; top: 17cm; font-size: 20px;}
#check3{position: absolute; left: 4cm; top: 18cm; font-size: 20px;}
#labe3{position: absolute; left: 5cm; top: 18cm; font-size: 20px;}
#check4{position: absolute; left: 4cm; top: 19cm; font-size: 20px;}
#labe4{position: absolute; left: 5cm; top: 19cm; font-size: 20px;}
#check5{position: absolute; left: 4cm; top: 20cm; font-size: 20px;}
#labe5{position: absolute; left: 5cm; top: 20cm; font-size: 20px;}
#check6{position: absolute; left: 4cm; top: 21cm; font-size: 20px;}
#labe6{position: absolute; left: 5cm; top: 21cm; font-size: 20px;}
#check7{position: absolute; left: 4cm; top: 22cm; font-size: 20px;}
#labe7{position: absolute; left: 5cm; top: 22cm; font-size: 20px;}
#check8{position: absolute; left: 4cm; top: 23cm; font-size: 20px;}
#labe8{position: absolute; left: 5cm; top: 23cm; font-size: 20px;}
#check9{position: absolute; left: 4cm; top: 24cm; font-size: 20px;}
#labe9{position: absolute; left: 5cm; top: 24cm; font-size: 20px;}
#coif{position: absolute; left: 2cm; top: 26cm; font-size: 20px;}
#list{position: absolute; left: 9cm; top: 26cm; font: optional;font-size: 20px; width: 5cm;}
#date{position: absolute;left: 2cm; top: 28cm; font-size: 20px;}
#dat{position: absolute;left: 9cm; top: 28cm; font-size: 20px;}
#heure{position: absolute;left: 2cm; top: 30cm; font-size: 20px;}
#heur{position: absolute;left: 9cm; top: 30cm; font-size: 20px;}

#sub{position: absolute;  font-size: 25px; left: 7cm; top: 36cm}
#res{position: absolute;  font-size: 25px; left: 12cm; top: 36cm}
#sep1{position: absolute; top: 40cm;}
#titr1{position: absolute; top: 41cm; left: 5cm;}
#hor2{position: absolute; align-content: center; top: 42cm; left: 5cm;}
#titr3{position: absolute; top: 41cm; left: 18cm;}
#pe1{position: absolute; top: 42cm; left: 14cm;}
#titr4{position: absolute; top: 41cm; right: 5cm;}
#pe3{position: absolute; top: 42cm; right: 5.70cm;}
#d1{position: absolute; left: 18.70cm;top: 4cm;}
#d2{position: absolute; left: 15.70cm; top: 5cm;}
#d3{position: absolute; left: 15.70cm; top: 6cm;}
#d4{position: absolute; left: 15.70cm;top: 8cm;}

